* {
    box-sizing: border-box;
}

body {
    padding: 0.5em;
    gap: 0.75em;
    display: grid;
}

div {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px 30px;
}

.red {
    background-color: red;
}

.blue {
    background-color: #77FFF1;
}

.yellow {
    background-color: yellow;
}

@media (min-width: 600px) {
    body {
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1400px) {
    body {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(5, 1fr);
    }
    .blue {
        grid-row: 1/4;
        grid-column: 3/4;
    }
    .yellow {
        grid-row: 2/4;
        grid-column: 4/-1;
    }
}